body {
  margin: 0;
  font-family: -apple-system, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 5px;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
